<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.servicofacil.servicofacil" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" /> <!-- Get this one from developers.facebook -->

        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AdvogadoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="br.com.servicofacil.activity.UsuarioActivity"
            android:label="@string/title_activity_usuario"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="br.com.servicofacil.activity.ServicoLista"
            android:label="@string/title_activity_servico_lista"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="br.com.servicofacil.activity.form.UsuarioForm"
            android:label="@string/title_activity_usuario_form"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="br.com.servicofacil.activity.form.ServicoForm"
            android:label="@string/title_activity_servico_form"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="br.com.servicofacil.activity.UsuarioList"
            android:label="@string/title_activity_usuario_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="br.com.servicofacil.activity.form.UsuarioDetalheActivity"
            android:label="@string/title_activity_usuario_detalhe"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
